*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.logo{
  text-align: center;
}

.logo img{
  width: 300px;
}

.input{
  padding: 40px 0;
}

.input input,
.input button{
  padding: 10px 0;
  border-radius: 15px;
}

.input input{
  width: 300px;
  margin-right: 20px;
}

.list{
  background-color: blanchedalmond;
  border-radius: 15px;
  padding: 30px;
}

.task{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightblue;
  cursor: pointer;
}

.task:hover{
  background-color: aliceblue;
}

.task.done span{
  text-decoration: line-through;
}